:root {
    /* Colors */
    --primary-color: #212121;
    --secondary-color: #424242;
    --background-color: #303030;
    --supporting-color: #282828;
    --primary-font: white;
    --secondary-font: rgba(255, 255, 255, 0.7);
    --hint-font: rgba(255, 255, 255, 0.5);

    /* Shadows */
    --shadow-light: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --shadow-med: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --shadow-dark: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    --shadow-darker: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    --shadow-darkest: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/*
    Header Style
*/

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 210px;
    z-index: 999;
    text-align: center;

    /* Transitions */
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;

    /* Colors and shadows*/
    box-shadow: var(--shadow-dark);
    background-color: var(--primary-color);
    color: var(--primary-font);
}

.header-component {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-list {
    float: right;
}

.header .top {
    height: 30%;
}

.header .bottom {
    position: relative;
    top: 70px;
}

.title-wrapper {
    float: left;
    text-align: left;
}

.header-title {
    padding-left: 40px;

    /* Fonts */
    font-size: 280%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.nav-item {
    list-style: none;
}

.nav-item a {
    text-align: right;

    /* Fonts */
    color: var(--primary-font);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    text-transform: uppercase;
}

.nav-item a:hover {
    color: var(--secondary-font);
}


/*
    Body Style
*/

body {
    margin: 0 0 0 0;
    background-color: var(--background-color);
    max-width: 100%;
    overflow-x: hidden;
}

.content {

}

.header-filler {
    height: 210px;
    width: 100%;
}

/* Section Style*/

.content-section {
    position: relative;
    height: 600px;
    width: 100%;
}

.section-break {
    background: var(--supporting-color) no-repeat scroll center;
    width: 100%;
    height: 1px;
    box-shadow: var(--shadow-light);
}

.section-title-wrapper {
    height: 60px;
    margin-top: 20px;
}

.section-title {
    color: var(--secondary-font);
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    height: 100%;
}

.section-title span {
    position: relative;
    top: 10px;
}

/*
    Card Style
*/

.card.mdl-card {
    width: 400px;
    height: 350px;
    position: absolute;
    background: var(--secondary-color);
}

.card-center.mdl-card {
    left: calc(50% - 200px);
    top: 200px;
    z-index: 10;
}

.layer-middle.mdl-card {
    top: 160px;
    z-index: 8;
}

.layer-back.mdl-card {
    top: 100px;
    z-index: 6;
}

.layer-hidden.mdl-card {
    visibility: hidden;
}

.card-left.mdl-card {
    left: calc(25% - 200px);
}

.card-right.mdl-card {
    right: calc(25% - 200px);
}

.card-far-left.mdl-card {
    left: -10%;
}

.card-far-right.mdl-card {
    right: -10%;
}

.card > .mdl-card__title {
    color: var(--primary-font);
    background:
            url('../images/resume.png') bottom right 15% no-repeat var(--primary-color);
}

.card > .mdl-card__supporting-text {
    color: var(--secondary-font);
}

.card .mdl-button {
    color: lightblue;
}

.content-section .button-wrapper {
    position: absolute;
    visibility: hidden;
}

.content-section .button-right {
    right: 0;
}

.content-section .button-left {
    left: 0;
}