<div class="header header-wrapper">
    <div class="header top section">

    </div>
    <div class="header bottom section">
        <h1 class="header-title">Test</h1>
    </div>
</div>

<style>
    :root {
        --primary-color: #212121;
        --secondary-color: #424242;
        --background-color: #303030;
        --primary-font: white;
        --secondary-font: rgba(255, 255, 255, 0.7);
        --hint-font: rgba(255, 255, 255, 0.5);
    }

    .header-wrapper {
        position: relative;
        width: 100%;
        height: 210px;
        z-index: 50;
        text-align: center;
        /*box-shadow: 0 1px 4px #333;*/
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        /*line-height: 2100px;*/
        background-color: var(--primary-color);
        color: var(--primary-font);
    }

    .section {
        position: relative;
        width: 100%;
        padding: 0 50px;
        overflow: hidden;
    }

    .top {
        height: 30%;
    }

    .bottom {
        height: 70%;
    }

    /*@media screen and (min-width: 760px) .header-wrapper {*/
        /*padding: 20px;*/
    /*}*/

    .header-title {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        line-height: 110px;
    }

</style>

<script>

</script>