<div class="header header-wrapper">
    <div class="header top">

    </div>
    <div class="header middle">
        <span class="header-content">Right2Drive Portfolio</span>
    </div>
    <div class="header bottom">

    </div>
</div>

<style>
    :root {
        --primary-color: #212121;
        --secondary-color: #424242;
        --background-color: #303030;
        --primary-font: white;
        --secondary-font: rgba(255, 255, 255, 0.7);
        --hint-font: rgba(255, 255, 255, 0.5);
    }

    .header-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 200px;
        z-index: 50;
        /*box-shadow: 0 1px 4px #333;*/
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        line-height: 2100px;
        background-color: var(--primary-color);
        color: var(--primary-font);
    }
    
    .top {
        position: absolute;
        width: 100%;
        height: 70px;
    }
    
    .middle {
        position: absolute;
        top: 70px;
        width: 100%;
        height: 70px;
    }
    .bottom {
        width: 100%;
        top: 140px;
        position: absolute;
        height: 70px;
    }

    @media screen and (min-width: 760px) .header-wrapper {
        padding: 20px;
    }

    .header-content {
        position: relative;
    }

</style>

<script>

</script>