<div class="header header-wrapper">
    <div class="header top pure-g-r">
        <ul class="nav-list pure-u-xl-3-10 pure-u-lg-5-12 pure-u-md-13-24 pure-u-sm-5-8">
            <div class="pure-u-5-24">
                <li class="nav-item">
                    <a class="nav-button" href="#">Projects</a>
                </li>
            </div>
            <div class="pure-u-5-24">
                <li class="nav-item">
                    <a class="nav-button" href="#">Skills</a>
                </li>
            </div>
            <div class="pure-u-5-24">
                <li class="nav-item">
                    <a class="nav-button" href="#">Experience</a>
                </li>
            </div>
            <div class="pure-u-5-24">
                <li class="nav-item">
                    <a class="nav-button" href="#">Contact</a>
                </li>
            </div>
        </ul>
    </div>
    <div class="header bottom pure-g-r">
        <div class="title-wrapper pure-u-lg-5-12">
            <span class="header-title">Brad Pfannmuller</span>
        </div>

    </div>
</div>

<style>
    :root {
        /* Colors */
        --primary-color: #212121;
        --secondary-color: #424242;
        --background-color: #303030;
        --supporting-color: #000;
        --primary-font: white;
        --secondary-font: rgba(255, 255, 255, 0.7);
        --hint-font: rgba(255, 255, 255, 0.5);

        /* Shadows */
        --shadow-lighter: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        --shadow-light: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        --shadow-med: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        --shadow-dark: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        --shadow-darker: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        --shadow-darkest: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }

    .header-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 210px;
        z-index: 50;
        text-align: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        /*line-height: 2100px;*/
        background-color: var(--primary-color);
        color: var(--primary-font);
    }

    .nav-list {
        float: right;
    }

    .header .top {
        height: 30%;
    }

    .header .bottom {
        position: relative;
        top: 70px;
    }

    .title-wrapper {
        float: left;
        text-align: left;
    }

    .header-title {
        padding-left: 40px;

        /* Fonts */
        font-size: 280%;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }

    .nav-item {
        list-style: none;
    }

    .nav-item a {
        text-align: right;
    
        /* Fonts */
        color: var(--primary-font);
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
    }

    .nav-item a:hover {
        color: var(--secondary-font);
    }

</style>

<script>
    $(document).on("scroll", function(){
        if
        ($(document).scrollTop() > 100){
            $("header").addClass("shrink");
            updateSliderMargin();
        }
        else
        {
            $("header").removeClass("shrink");
            updateSliderMargin();
        }
    });

    function updateSliderMargin() {
        console.log("Not implemented yet");
    }
</script>